{% extends 'base.html' %}
{% block title %}
Онлайн-магазин
{% endblock %}
{% block content %}
<main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Pricing</h1>
      <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for product in products %}
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ product.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ product.price }}$</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Информация</li>
              <li>
                {{ product.description }}
              </li>
              <li>
                {{ product.creator }}
              </li>
            </ul>
            <a type="button" class="w-100 btn btn-lg btn-outline-primary" href="{{ url_for('purchase', product_id=product.id) }}">Купить</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
